/* ------------------------------------------------------------
* CSS used for elements on stup pages
* SH means styles are only used for Shift
 -------------------------------------------------------------- */


/** title for sections in the page showshift **/
.SH_sectionName{
    font-size: x-large;
    font-weight: bold;
    display: block;/** used for good display in the pdf **/
}

.SH_actionCase{
    width: 170px;
}

.SH_checkCase{
    width: 110px;
}

.SH_comment{
    word-break: break-all;
}

.addShiftCommentBtn{
    width:200px;
    color: white;
}

/* carryOn button for shiftcomment */
.carry .carried {
    display: inline;
}
.carry .addCarry {
    display: none;
}
.notCarry .carried {
    display: none;
}
.notCarry .addCarry {
    display: none;
}
.notCarry .addCarry:hover {
    display: inline;
}
.notCarry:hover .addCarry {
    display: inline;
}

.SH_table{
    margin: 20px 0 40px 0;
}