/* ------------------------------------------------------------
* CSS used for elements on stup pages
* SH means styles are only used for Shift
 -------------------------------------------------------------- */


/** title for sections in the page showshift **/
.SH_sectionName{
    font-size: x-large;
    font-weight: bold;
    display: block;/** used for good display in the pdf **/
}

.SH_actionCase{
    width: 170px;
}

.SH_checkCase{
    width: 110px;
}

.SH_comment{
    word-break: break-all;
}

.addShiftCommentBtn{
    width:200px;
    color: white;
}

/* carryOn button for shiftcomment */
.carry .carried {
    display: inline;
}
.carry .addCarry {
    display: none;
}
.notCarry .carried {
    display: none;
}
.notCarry .addCarry {
    display: none;
}
.notCarry .addCarry:hover {
    display: inline;
}
.notCarry:hover .addCarry {
    display: inline;
}

.SH_table{
    margin: 20px 0 40px 0;
}

.selectForDay{
    background-color: lightblue;
    padding: 5px 10px;
    margin-left: 10px;
}

.selectForNight{
    background-color: #343a40;
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
}

.selectForDay.first, .selectForNight.first{
    border-radius: 10px 10px 0 0;
    padding-top: 10px;
}

.selectForDay.last, .selectForNight.last{
    border-radius: 0 0 10px 10px;
    padding-bottom: 10px;
}

.SH_dropdownInfo {
    width: 80px;
}

.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
}