.banner {
    background-color: lightblue;
    width: 100%;
    border-bottom: 1px solid darkgrey;
}

textarea{
    font-size: 13px;
}

.logo {
    width: 152px;
    height: 81px;
}

@font-face {
    font-family: comfortaa;
    src: url('../assets/Comfortaa/Comfortaa-VariableFont_wght.ttf');
}

.title {
    font-family: comfortaa;
    font-size: 40px;
    font-weight: bolder;
}

.bigfont {
    font-size: 36px;
}

.btn:disabled{
    cursor: default;
}

.blueBtn{
    background-color: #28527a;
    color: ghostwhite;
}
/* ------------------------------------------------------------
* Styles CSS utilisés pour l'affichage des listes des rapports
 -------------------------------------------------------------- */
table.table-bordered{
    border:2px solid #454d55;
    margin-top:20px;
}
table.table-bordered > thead > tr > th{
    border:1px solid  #454d55;
}
table.table-bordered > tbody > tr > td{
    border:1px solid  #454d55;
}
.slugBlank,
.slugOpen,
.slugClose,
.slugReopen,
.slugArchive{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.actions{
    width: 300px;
    text-align: center;
}

.template{
    margin: 5px;
}

.newSheetZone{
    height: 50px;
}

.dropdownButton > i {
    font-size: 1.75rem;
}

.edit-form{
    border: 1px black solid;
    padding: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
}

/* ------------------------------------------------------------
* Fonds de couleur correspondant aux différents slugs
 -------------------------------------------------------------- */
.slugOpen{
    background-color: #d5e8d4;
}
.slugBlank{
    background-color: #dae8fc;
}
.slugClose{
    background-color: #eeeeee;
}
.slugReopen{
    background-color: #fff2cc;
}
.slugArchive{
    background-color: #f5f5f5;
}

/* ------------------------------------------------------------
* Styles CSS utilisés pour l'affichage de la vue dashboard
 -------------------------------------------------------------- */

.dashboardElem{
    width: 100%;
    min-height: 80px;
    border-radius: 5px;
    margin: 20px 0 20px 0;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

/* ------------------------------------------------------------
* Styles CSS utilisés pour l'affichage de la vue des tâches hebdomadaires
 -------------------------------------------------------------- */

.week {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.todoTable{
    border-style: solid;
}
/* ------------------------------------------------------------
* Styles CSS utilisés pour le formulaire de modification de rapport
 -------------------------------------------------------------- */
.editSheetForm{
    margin: 15px 0 15px 0;
    padding:10px;
    background-color: lightblue;
    border-radius:5px;"
}
.editSheetForm .smallInput {
    width: 100px;
    height: 25px;
}
.editSheetForm .bigInput{
    width: 300px;
    height: 25px;
}
.editSheetForm .addBtn{
    padding: 0 4px 0 4px;
    margin-left: 5px;
    border-radius:3px;
}
.marginLeft{
    margin-left: 20px;
}
.marginTop{
    margin-top: 10px;
}


/* ------------------------------------------------------------
* Styles CSS utilisés pour l'affichage de la vue admin secouriste
 -------------------------------------------------------------- */

.updateMail,.updateTel{
    display: none;
}

tr .modify {
    display: none;
}
tr:hover .modify {
    display: inline;
}
.mail, .tel{
    display: inline;
}

.saveIcon{
    color: #218838;
    margin-left: 5px;
}
.cancelIcon{
    color: #a71d2a;
    margin-left: 5px;
}

/* -------------------------------------*/

.logIcon{
    display: inline;
    float: right;
}

.backIcon{
    color: black;
    margin-right: 10px;
}
.backIcon:hover{
    color: #6c757d;
}

.warning{
    color: red;
}

.incompleteTask{
    background-color: salmon;
}

.delTodoTask{
    color: red;
    float: left;
    margin: 5px 5px 0px 0px;
}

.addTaskBtn , .removeTaskBtn{
    width: 100%;
    margin-bottom: 10px;
}
.taskCol{
    padding: 4px;
}

.navZone{
    margin:auto;
}


@media print{
    .todoTaskBtn{
        margin: 0px;
        padding: 0px;
    }
}

.inactivForm .maskIfInactiv{
    display : none;
}
